{% extends 'base.html.twig' %}

{% block title %}Rutas{% endblock %}

{% block body %}
{{parent()}}
    <h1>Rutas</h1>
    {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
            
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Descripcion</th>
                <th>kilometros</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for rutum in rutas %}
            <tr>
                <td>{{ rutum.id }}</td>
                <td>{{ rutum.origen }}</td>
                <td>{{ rutum.destino }}</td>
                <td>{{ rutum.descripcion }}</td>
                <td>{{ rutum.kilometros }}</td>
                <td>
                     {{ include('ruta/_delete_form.html.twig') }}
                    <a href="{{ path('ruta_edit', {'id': rutum.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron rutas disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ruta_new') }}">Crear nuevo</a>
{% endblock %}
