{% extends 'base.html.twig' %}

{% block title %}Ruta{% endblock %}

{% block body %}
    <h1>Ruta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rutum.id }}</td>
            </tr>
            <tr>
                <th>Origen</th>
                <td>{{ rutum.origen }}</td>
            </tr>
            <tr>
                <th>destino</th>
                <td>{{ rutum.destino }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ rutum.descripcion }}</td>
            </tr>
             <tr>
                <th>Kilometros</th>
                <td>{{ rutum.kilometros }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ruta_index') }}">back to list</a>

    <a href="{{ path('ruta_edit', {'id': rutum.id}) }}">edit</a>

    {{ include('ruta/_delete_form.html.twig') }}
{% endblock %}
