{% extends 'base.html.twig' %}
{% block title %}Pasajero{% endblock %}

{% block body %}
{{parent()}}
<div class="container">

    <div class="row">
        <div class="col-6">
            <h1>Mis Datos Personales</h1>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Dni</th>
                <td>{{ pasajero.dni }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ pasajero.user.email }}</td>
            </tr>
             <tr>
                <th>Nombre</th>
                <td>{{ pasajero.user.nombre }}</td>
            </tr>
             <tr>
                <th>Apellido</th>
                <td>{{ pasajero.user.apellido }}</td>
            </tr>
            <tr>
                <th>Membresia</th>
                <td>{{ pasajero.membresia ? 'Gold' : 'Basica' }}</td>
            </tr>
        </tbody>
    </table>

    {#<a href="{{ path('pasajero_index') }}">back to list</a>#}
    <a href="{{ path('pasajero_edit', {'id': pasajero.id}) }}">editar datos personales</a>
    {#{{ include('pasajero/_delete_form.html.twig') }}#}
        </div>
        <div class="col-6">
            {% if pasajero.tarjeta %}
   {# <div class="section">
    <h1>Mi Tarjeta</h1>
        <div class="payment-card card border-dark">
            <i class="fa fa-cc-visa payment-icon-big text-success"></i>
            <h2>
                    **** **** ****  {{pasajero.tarjeta.numero | slice(12,4) }}
            </h2>
            <div class="row">
                <div class="col-sm-6">
                    <small>
                        <strong>Fecha de vencimiento:</strong> {{ pasajero.tarjeta.vencimiento ? pasajero.tarjeta.vencimiento|date('Y-m') : ''}}
                    </small>
                </div>
                <div class="col-sm-6 text-right">
                    <small>
                        <strong>Nombre:</strong>  {{pasajero.user.nombre}}
                    </small>
                </div>
            </div>
        </div>

        <br><br>#}
        <h1>Mi Tarjeta</h1>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Tarjeta de Credito</div>
            <div class="card-body text-dark">
            <h5 class="card-title"> **** **** ****  {{pasajero.tarjeta.numero | slice(12,4) }}</h5>
                <p class="card-text"> <div class="row">
                    <div class="col-sm-6">
                        
                            <strong>Fecha de vencimiento:</strong> {{ pasajero.tarjeta.vencimiento ? pasajero.tarjeta.vencimiento|date('Y-m') : ''}}
                        
                    </div>
                    <div class="col-sm-6 text-right">
                        
                            <strong>Nombre:</strong>  {{pasajero.user.nombre}}
                        
                    </div>
                    </div>
                </p>
            </div>
     </div>
     <a href="{{ path('pasajero_edit', {'id': pasajero.id}) }}">nueva tarjeta</a>
     {% endif %}

        </div>
    </div>


    <h1>Mi Viajes</h1>

    {% for ticket in  pasajero.tickets %}

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="{{ ticket.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ ticket.id }}" aria-expanded="true" aria-controls="collapse{{ ticket.id }}">
                        {{ ticket.viaje.ruta }}
                        {{ ticket.viaje.salida ? ticket.viaje.salida | date('Y-m-d h:m') : ''}}
                    </button>
                    </h2>
                    <div id="collapse{{ ticket.id }}" class="accordion-collapse collapse show" aria-labelledby="{{ ticket.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>El viaje se encuentra: {{ ticket.viaje.estado}}</strong>
                        <br>La combi que realizara el viaje es {{ticket.viaje.combi}}, a cargo del chofer {{ ticket.viaje.combi.chofer}}.
                        <br>Iniciara a las {{ ticket.viaje.salida ? ticket.viaje.salida | date('h:m') : ''}}, del dia  {{ ticket.viaje.salida ? ticket.viaje.salida | date('Y-m-d') : ''}}, partiendo de {{ ticket.viaje.ruta.origen }} hasta  {{ ticket.viaje.ruta.destino }}.
                        <strong>Descripcion: </strong> {{ ticket.viaje.ruta.descripcion }}
                        <br><br>
                        <a class="btn btn-danger">cancelar viaje<a>
                    </div>
                    </div>
                </div>
            </div>

            
    {% endfor %}

            
    </div >

    
    
{% endblock %}
