{% extends 'base.html.twig' %}

{% block title %}Tarjetas {% endblock %}

{% block body %}
    <h1>Tarjetas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Codigo</th>
                <th>Vencimiento</th>
                <th>Propietario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarjetum in tarjetas %}
            <tr>
                <td>{{ tarjetum.id }}</td>
                <td>{{ tarjetum.numero }}</td>
                <td>{{ tarjetum.codigo }}</td>
                <td>{{ tarjetum.propietario }}</td>
                <td>{{ tarjetum.vencimiento ? tarjetum.vencimiento|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('tarjeta_show', {'id': tarjetum.id}) }}">Ver</a>
                    <a href="{{ path('tarjeta_edit', {'id': tarjetum.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron tarjetas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('tarjeta_new') }}">Create new</a>#}
{% endblock %}
