{% extends 'base.html.twig' %}

{% block title %}Tarjeta{% endblock %}

{% block body %}
    <h1>Tarjeta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarjetum.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ tarjetum.numero }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tarjetum.codigo }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{{ tarjetum.vencimiento ? tarjetum.vencimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tarjeta_index') }}">back to list</a>

    <a href="{{ path('tarjeta_edit', {'id': tarjetum.id}) }}">edit</a>

    {{ include('tarjeta/_delete_form.html.twig') }}
{% endblock %}
