{% extends 'base.html.twig' %}

{% block title %}Choferes{% endblock %}

{% block body %}
    <h1>Choferes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Contacto</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for chofer in chofers %}
            <tr>
                <td>{{ chofer.id }}</td>
                <td>{{ chofer.email }}</td>
                <td>{{ chofer.nombre }}</td>
                <td>{{ chofer.apellido }}</td>
                <td>{{ chofer.contacto }}</td>
                <td>
                    {{ include('chofer/_delete_form.html.twig') }}
                    <a class="btn btn-secondary"href="{{ path('chofer_edit', {'id': chofer.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no hay choferes disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chofer_new') }}">Crear nuevo</a>
{% endblock %}
