{% extends 'base.html.twig' %}

{% block title %}Choferes{% endblock %}

{% block body %}

    {{parent()}}
    
    <h1>Choferes</h1>

    {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
            
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for chofer in chofers %}
            <tr>
                <td>{{ chofer.id }}</td>
                <td>{{ chofer.user.email }}</td>
                <td>{{ chofer.user.nombre }}</td>
                <td>{{ chofer.user.apellido }}</td>
                <td>{{ chofer.contacto }}</td>
                <td>
                   <!--<a href="{{ path('chofer_show', {'id': chofer.id}) }}">Ver</a>-->
                   {{ include('chofer/_delete_form.html.twig') }}
                   <a class="btn btn-secondary" href="{{ path('chofer_edit', {'id': chofer.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay choferes disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('chofer_new') }}">Crear nuevo</a>
{% endblock %}
