{% extends 'base.html.twig' %}

{% block title %}Chofer{% endblock %}

{% block body %}
    <h1>Chofer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chofer.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ chofer.email }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ chofer.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ chofer.apellido }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ chofer.contrasena }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ chofer.contacto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chofer_index') }}">back to list</a>

    <a href="{{ path('chofer_edit', {'id': chofer.id}) }}">edit</a>

    {{ include('chofer/_delete_form.html.twig') }}
{% endblock %}
