{% extends 'base.html.twig' %}

{% block title %}Lugar index{% endblock %}

{% block body %}
    <h1>Lugar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lugar in lugars %}
            <tr>
                <td>{{ lugar.id }}</td>
                <td>{{ lugar.nombre }}</td>
                <td>
                    <a href="{{ path('lugar_show', {'id': lugar.id}) }}">show</a>
                    <a href="{{ path('lugar_edit', {'id': lugar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lugar_new') }}">Create new</a>
{% endblock %}
