{% extends 'base.html.twig' %}

{% block title %}Viajes{% endblock %}

{% block body %}
{{parent()}}
   
    <h1>Viajes</h1>
    {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
            
    {% endfor %}

    
       
    {% for message in app.flashes('rembolso') %}
        <div class="alert alert-danger">
                {{ message }}
        </div>                                        
    {% endfor %} 
       
    
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Combi</th>
                <th>Ruta</th>
                <th>Salida</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for viaje in viajes %}
            <tr>
                <td>{{ viaje.id }}</td>
                <td>{{ viaje.combi }}</td>
                <td>{{ viaje.ruta }}</td>
                <td>{{ viaje.salida ? viaje.salida|date('Y-m-d H:i:s') : '' }}</td>
                <td>${{ viaje.precio  }}</td>
                <td>{{ viaje.estado  }}</td>
                <td>
                    {{ include('viaje/_delete_form.html.twig') }}
                    <a class="btn btn-secondary" href="{{ path('viaje_edit', {'id': viaje.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron viajes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('viaje_new') }}">Crear nuevo</a>
    
{% endblock %}
