{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}
    {{parent()}}
    {% for message in app.flashes('failed') %}

                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        
    {% endfor %}

    {% for message in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        
    {% endfor %}

<div class="container">
 <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h1>Viaje {{viaje.estado}}</h1>
     
    <h3> {{viaje.ruta}} el dia {{ viaje.salida ? viaje.salida|date('d/m/Y') : '' }} a las {{ viaje.salida ? viaje.salida|date('H:i') : '' }}</h3> 

    {% if viaje.estado == 'No iniciado' %}
        
        {{ include('viaje/_iniciar_form.html.twig') }}
       
    {% elseif viaje.estado == 'En curso'  %}
        {{ include('viaje/_finalizar_form.html.twig') }}   
    {% endif %}



    <br><br>
       <h3> Pasajeros</h3> 
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
            {% for pasajero in pasajeros %}
                <tr>
                    <td>{{ pasajero }}</td>
                        
                       
                    <td>  
                        {% if (viaje.getTicketOfPasajero(pasajero).getTesteo()) is null %}
                               <a class="btn btn-primary" href="{{ path('testeo_new', {'ticket': viaje.getTicketOfPasajero(pasajero),'pasajero': pasajero.getId() }) }}"> Realizar Testeo </a>
                        {% else %}
                            {% if (viaje.getTicketOfPasajero(pasajero).getTesteo())%}
                                <p> No es sospechoso </p>
                            {% else %}
                                 <p> Sospechoso </p>   
                            {% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay pasajeros</td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>

    {#<a href="{{ path('viaje_index') }}">volver a la lista</a>

    <a href="{{ path('viaje_edit', {'id': viaje.id}) }}">Editar</a>

    {{ include('viaje/_delete_form.html.twig') }}#}
</div>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h3> Imprevistos</h3> 
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imprevisto</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                {% for imprevisto in imprevistos %}
                    <tr>
                        <td>{{ imprevisto.imprevisto }}</td>
                        {% if not imprevisto.state %}
                            <td colspan="4"><a style="display:inline;" class="btn btn-primary" href="{{ path('imprevisto_edit', {'id': imprevisto.id}) }}">Editar</a>
                            {{ include('imprevisto/_delete_form.html.twig') }}</td>
                        {% else %}

                            <td> Resuelto </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay imprevistos</td>
                        
                    </tr>
                {% endfor %}
                    
                </tbody>
                
            </table>
            <a href="{{ path('imprevistoWithViaje_new', {'id': viaje.id}) }}">Agregar Imprevisto</a>

       

        
    </div>
</div>
{% endblock %}
