{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}
<div class="container">
 <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h1>Viaje</h1>
     
    <h3> {{viaje.ruta}} el dia {{ viaje.salida ? viaje.salida|date('d/m/Y') : '' }} a las {{ viaje.salida ? viaje.salida|date('H:i') : '' }}</h3> 

     {{ include('viaje/_iniciar_form.html.twig') }}

    <br><br>
       <h3> Pasajeros</h3> 
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
            {% for pasajero in pasajeros %}
                <tr>
                    <td>{{ pasajero }}</td>
                        
                        
                    <td> 
                        <button class="btn btn-primary"> Realizar Testeo </button> 
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay pasajeros</td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>

    {#<a href="{{ path('viaje_index') }}">volver a la lista</a>

    <a href="{{ path('viaje_edit', {'id': viaje.id}) }}">Editar</a>

    {{ include('viaje/_delete_form.html.twig') }}#}
</div>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h3> Imprevistos</h3> 
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imprevisto</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                {% for imprevisto in imprevistos %}
                    <tr>
                        <td>{{ imprevisto }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay imprevistos</td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>

        <a href="{{ path('viaje_index') }}">volver a la lista</a>

        <a href="{{ path('viaje_edit', {'id': viaje.id}) }}">Editar</a>

        {{ include('viaje/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
