{% extends 'base.html.twig' %}

{% block title %}Inicio Chofer{% endblock %}

{% block body %}

{{ parent() }}
<br><br><br>
    <div class = "container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            
                <h2 >Viaje en curso</h2>
                {% if eViaje %}

                <div class="card">
                    {#<div class="card-header">
                        Featured
                    </div>#}
                    <div class="card-body">
                        <h5 class="card-title"> De {{eViaje.ruta.origen }} a {{eViaje.ruta.destino }}</h5>
                        <p class="card-text"> Iniciado a las {{ eViaje.salida ? eViaje.salida | date('h:m') : ''}}, del dia  {{ eViaje.salida ? eViaje.salida | date('Y-m-d') : ''}} </p>
                        <a href="{{path('viaje_show',{'id':eViaje.id })}}" class="btn btn-primary">Ver viaje</a>
                    </div>
                </div>
                {#<a class="btn btn-primary" href="{{path('dashboard_ver_en_curso',{'id':eViaje.id })}}">Ver Viaje</a>#}

                


                {% else %}
                    <p>No hay ningun viaje en curso</p>
                {% endif %}
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <h2 >Proximo viaje</h2>
                {% if uViaje %}
                

                    <div class="card">
                        {#<div class="card-header">
                            Featured
                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title"> De {{uViaje.ruta.origen }} a {{uViaje.ruta.destino }}</h5>
                            <p class="card-text"> Debera iniciar a las {{ uViaje.salida ? uViaje.salida | date('h:m') : ''}}, del dia  {{ uViaje.salida ? uViaje.salida | date('Y-m-d') : ''}} </p>
                            <a href="{{path('viaje_show',{'id':uViaje.id })}}" class="btn btn-primary">Ver viaje</a>
                        </div>
                    </div>   

                {% else %}

                    <p> No se encontraron viajes pendientes </p>

                {% endif %}
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h2>Viajes finalizados</h2>
            {% if viajes %}
                {% for viaje in viajes %}
                    <div class="card">
                        {#<div class="card-header">
                            Featured
                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title"> De {{viaje.ruta.origen }} a {{viaje.ruta.destino }}</h5>
                            <p class="card-text"> Iniciado a las {{ viaje.salida ? viaje.salida | date('h:m') : ''}}, del dia  {{ viaje.salida ? viaje.salida | date('Y-m-d') : ''}} y 
                            finalizado a las {{ viaje.llegada ? viaje.salida | date('h:m') : ''}}, del dia  {{ viaje.llegada ? viaje.salida | date('Y-m-d') : ''}}</p>
                            <a href="{{path('viaje_show',{'id':uViaje.id })}}" class="btn btn-primary">Ver viaje</a>
                        </div>
                        
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                <p>Usted no tiene ningun viaje</p>
            {% endif %}
            
            </div>
        </div>
    </div>
{% endblock %}
