{% extends 'base.html.twig' %}

{% block title %}Administrador{% endblock %}

{% block body %}
{{parent()}}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenido Administrador</h1>

    
        <div class="list-group">
    
      <a href="{{ path('chofer_index') }}" class="list-group-item list-group-item-action list-group-item-action">Choferes</a>
     <a href="{{ path('combi_index') }}" class="list-group-item list-group-item-action list-group-item-action">Combi</a>
    <a href="{{ path('viaje_index') }}" class="list-group-item list-group-item-action list-group-item-action">Viaje</a>
    <a href="{{ path('insumo_index') }}" class="list-group-item list-group-item-action list-group-item-action"> Insumo</a>
    <a href="{{ path('lugar_index') }}" class="list-group-item list-group-item-action list-group-item-action">Lugar</a>
     <a href="{{ path('ruta_index') }}" class="list-group-item list-group-item-action">Ruta</a>
    <a href="{{ path('pasajero_index') }}" class="list-group-item list-group-item-action">Pasajeros</a>

</div>
</div>
{% endblock %}
