{% extends 'base.html.twig' %}

{% block title %}Buscar Viajes{% endblock %}

{% block body %}
{{parent()}}
    <div class='container'>
        <br><br><br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h1>Buscar Viajes</h1>
        {% for message in app.flashes('failed') %}

                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

        {{ include('dashboard/_form.html.twig') }}


        {% if viajes is defined %}
            <br>
            <h3> Viajes encontrados </h3>
             {% for viaje in viajes %}
           
                <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading" style="display:inline;"> {{ viaje.ruta }}</h4>   
                    
                    {% if not viaje.pasajeroCompro(pasajero) %} 
                        <a class="btn btn-primary" href="{{path('tarjeta_compra_new',{'id': viaje.id})}}"> Comprar </a> 
                    {% else %}
                        <p> Ya posee este pasaje </p>
                    {% endif %}

                    {% if  viaje.estado == 'En curso'%} 
                        <h5 style="color-text:red;">Este viaje se encuantra en curso</h5>
                    {% endif %}      
                    <br><p>El viaje partira de {{ viaje.ruta.origen }} hacia {{ viaje.ruta.destino }} 
                        el dia <strong>{{ viaje.salida ? viaje.salida | date('Y-m-d') : ''}}</strong> a las <strong>{{viaje.salida ? viaje.salida | date('h:m') : ''}}</strong>
                        <br>Combi designada {{ viaje.combi }} a cargo del chofer {{ viaje.combi.chofer }}
                        
                    </p>
                    <hr>
                    <p class="mb-0"> Descripcion: {{ viaje.ruta.descripcion }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <!--<a href="{{ path('viaje_index') }}">volver a la lista</a>-->
        </div>
    </div>
{% endblock %}