{% extends 'base.html.twig' %}

{% block title %}Comentarios{% endblock %}

{% block body %}
    {{parent()}}
    <h1>Comentarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comentario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.id }}</td>
                <td>{{ comentario.comentario }}</td>
                <td>
                    <a href="{{ path('comentario_show', {'id': comentario.id}) }}">Ver</a>
                    <a class="btn btn-secondary" href="{{ path('comentario_edit', {'id': comentario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay comentarios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('comentario_new') }}">Create new</a>#}
{% endblock %}
