{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}  
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
  {% if users %}
    <table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>dni</th>
         
          
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.dni }}</td>
            
            <td>
              {# <a href="/user/{{ user.id }}" class="btn btn-dark">Show</a> #} 
              <a href="/user/edit/{{ user.id }}" class="btn ">Edit</a>
              <a href="/user/delete/{{ user.id }}" class="btn btn-danger delete-article" data-id="{{ user.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay usuarios disponibles</p>
  {% endif %}
{% endblock %}